<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <header>
      <h1>Entendiendo layer</h1>
    </header>

    <main>
      <section class="basic-layers">
        <h2>Ejemplo 1: capas basicas</h2>
        <div class="box">este es un div con estilos de diferentes capas</div>
      </section>

      <section class="nested-layers">
        <h2>Ejemplo 2: capas anidadas</h2>
        <div class="nested-box">
          este es un div con estilos de diferentes capas
        </div>
      </section>

      <section class="layer-order">
        <h2>Ejemplo 3: orden de capas</h2>
        <div class="ordered-box">
          este es un div con estilos de diferentes capas
        </div>
      </section>

      <section class="specificity">
        <h2>Ejemplo 4: especificidad</h2>
        <div class="specific-box">
          este es un div con estilos de diferentes capas
        </div>
      </section>
    </main>
  </body>
</html>
