<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>CSS Mask Reveal Animation</h1>
    <section class="cards">
      <div class="card">
        <a href="#" class="card-content">
          <strong>Jane Doe</strong>
          Global Marketing Lead
        </a>
        <div class="card-media">
          <img src="../../columns/columnsGenshin/assets/2.png" alt="Jane Doe" />
        </div>
      </div>

      <div class="card">
        <a href="#" class="card-content">
          <strong>Jane Doe</strong>
          Marketing Manager
        </a>
        <div class="card-media">
          <img src="../../columns/columnsGenshin/assets/2.png" alt="Jane Doe" />
        </div>
      </div>

      <div class="card">
        <a href="#" class="card-content">
          <strong>John Doe</strong>
          Client Relationship Manager
        </a>
        <div class="card-media">
          <img src="../../columns/columnsGenshin/assets/2.png" alt="John Doe" />
        </div>
      </div>

      <div class="card">
        <a href="#" class="card-content">
          <strong>Jane Doe</strong>
          Marketing Manager
        </a>
        <div class="card-media">
          <img src="../../columns/columnsGenshin/assets/2.png" alt="Jane Doe" />
        </div>
      </div>
    </section>
  </body>
</html>
