body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: #000;
  gap: 10vw;
}

.animated_card {
  display: grid;
  place-items: center;

  position: relative;

  height: 500px;
  width: 350px;
  background: #222;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;

  & span {
    color: rgba(254, 254, 254, 0.1);
    font-size: 10em;
    z-index: 1;
  }

  &::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 180%;
    background: #fff;
    transform: rotate(45deg);
    transition: all 0.4s ease;
  }

  &::after {
    position: absolute;
    content: "";
    inset: 5px;
    background: #222;
    border-radius: 8px;
  }

  &:hover::before {
    transition: all 0.3s ease;
    animation: animate2 3s linear infinite;
  }
}

@keyframes animate2 {
  to {
    rotate: 360deg;
  }
}
