* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background: linear-gradient(to left, #2bc0e4, #eaecc6);
}

.checkbox {
  display: none;
}

.menu {
  position: relative;

  & .menu__label {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    box-shadow: 0 0 0 0.3rem #161e3f;
    display: grid;
    place-content: center;
    transform: rotate(90deg);
    transition:
      transform 0.3s linear,
      box-shadow 0.3s linear;
    cursor: pointer;

    &:hover {
      transform: scale(1.2) rotate(90deg);
      box-shadow:
        0 0 0 0.3rem #161e3f,
        0 0 0 1rem rgba(22, 30, 63, 0.16);
    }

    & .menu__point {
      width: 0.45rem;
      height: 0.45rem;
      background-color: #161e3f;
      border-radius: 50%;
      margin-top: 0.3rem;
    }
  }

  & .menu__options {
    position: absolute;
    top: -2.3rem;
    left: -2.2rem;
    width: 9.4rem;
    height: 11rem;
    color: #fff;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    opacity: 1;
    transition: 0.3s;
    overflow: hidden;
    list-style: none;

    & .menu__item {
      transform: scale(0.5);
      filter: blur(10px);
      transition: 0.3s;

      &:nth-child(odd) {
        text-align: right;
      }

      &:nth-child(even) {
        text-align: left;
      }

      &:first-child,
      &:last-child {
        grid-column: span 2;
        text-align: center;
      }
    }
  }
}

.checkbox {
  &.checkbox:checked ~ .menu .menu__label {
    transform: none;
    box-shadow: 0 0 0 3.4rem #161e3f;
  }

  &.checkbox:checked ~ .menu .menu__options .menu__item {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }

  &.checkbox:checked ~ .menu .menu__options .menu__item {
    opacity: 1;
    transform: none;
    filter: none;
  }

  &.checkbox:checked + .menu > .menu__close {
    pointer-events: auto;
    cursor: pointer;
  }
}

.menu__close {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
}
