:root {
    color-scheme: light dark;
    background: linear-gradient(to top right, #43389F 0%, #4ec6ca 100%);
    color: #fff;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Courier New', 'Courier', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    
    & .big {
        justify-content: center;
    }
}

