html,
body {
  height: 100vh;
}

body {
  background: #001413;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.radar {
  --size: 450px;
  --color: #15fcd8;

  width: var(--size);
  height: var(--size);
  margin: auto;
  border: 3px solid var(--color);
  border-radius: 50%;
  background:
    radial-gradient(
      transparent 0% 25%,
      var(--color) 25.5% 25.75%,
      transparent 26% 50%,
      var(--color) 50.5% 50.75%,
      transparent 51% 75%
    ),
    repeating-linear-gradient(to right, #0e817a77 0 1px, transparent 1px 25px),
    repeating-linear-gradient(#0e817a77 0 1px, transparent 1px 25px),
    radial-gradient(#007672, #002421 65%);
}
