<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>CSS Postage Stamp Cutout Effect</h1>

<section class="postage-stamps">
  <div class="postage-stamp">
    <img src="https://images.unsplash.com/photo-1454372182658-c712e4c5a1db" alt="">
  </div>

  <div class="postage-stamp">
    <img src="https://images.unsplash.com/photo-1468465226960-8899e992537c" alt="">
  </div>

  <div class="postage-stamp">
    <img src="https://images.unsplash.com/photo-1474874055390-459bc92357f3" alt="">
  </div>

  <div class="postage-stamp">
    <img src="https://images.unsplash.com/photo-1500964757637-c85e8a162699" alt="">
  </div>

  <div class="postage-stamp">
    <img src="https://images.unsplash.com/photo-1614720216135-c83575f58165" alt="">
  </div>

  <div class="postage-stamp">
    <img src="https://images.unsplash.com/photo-1454372182658-c712e4c5a1db" alt="">
  </div>
</section>
</body>
</html>