<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
  </head>
  <body>
    <div class="page-wrapper">
      <div class="section_main">
        <div class="section_main-grid">
          <div class="hero-text_container">
            <h1 class="hero-text_text">INDIA</h1>
            <div class="marquee_wrapper">
              <div class="marquee">
                <div class="marquee_text">Cultural Diversity</div>
                <div class="marquee_text">
                  Historical and Architectural Wonders
                </div>
                <div class="marquee_text">Geographical Variety<br /></div>
                <div class="marquee_text">
                  Spiritual and Religious Significance
                </div>
                <div class="marquee_text">Culinary Delights</div>

                <div class="marquee_text">Cultural Diversity</div>
                <div class="marquee_text">
                  Historical and Architectural Wonders
                </div>
                <div class="marquee_text">Geographical Variety<br /></div>
                <div class="marquee_text">
                  Spiritual and Religious Significance
                </div>
                <div class="marquee_text">Culinary Delights</div>

                <div class="marquee_text">Cultural Diversity</div>
                <div class="marquee_text">
                  Historical and Architectural Wonders
                </div>
                <div class="marquee_text">Geographical Variety<br /></div>
                <div class="marquee_text">
                  Spiritual and Religious Significance
                </div>
                <div class="marquee_text">Culinary Delights</div>
              </div>
            </div>
          </div>
          <div class="padding-global">
            <div class="container-large">
              <div class="padding-section-small">
                <div class="section_grid">
                  <div class="section is-1">
                    <div class="ornament">
                      <div class="ornament_text">
                        Scroll <br />
                        Down
                      </div>
                    </div>
                    <div class="section-mask_container is-1">
                      <div class="section-image_container is-center">
                        <div class="image-ratio_container">
                          <video
                            class="image-ratio_asset"
                            part="video"
                            crossorigin=""
                            playsinline=""
                            autoplay=""
                            muted=""
                            loop=""
                            src="https://videos.pexels.com/video-files/8810993/8810993-hd_1080_1920_25fps.mp4"
                          ></video>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="section is-3">
                    <div class="section-mask_container is-3">
                      <div class="section-image_container">
                        <div class="image-ratio_container">
                          <video
                            class="image-ratio_asset"
                            part="video"
                            crossorigin=""
                            playsinline=""
                            autoplay=""
                            muted=""
                            loop=""
                            src="https://videos.pexels.com/video-files/10982929/10982929-hd_1080_1920_25fps.mp4"
                          ></video>
                        </div>
                      </div>
                    </div>
                    <div class="section-caption-title">
                      <div class="padding-small"></div>
                      <div class="text-size-medium text-align-center">
                        Explore the Lush and Diverse Forests of India
                      </div>
                    </div>
                  </div>
                  <div class="section-content-headline">
                    <h1 class="section-headline-text">
                      Land of Diversity <br />
                      and Wonders
                    </h1>
                  </div>
                  <div class="section-data-container">
                    <div class="section-data-item">
                      <div class="section-data">1600+</div>
                      <div class="padding-xsmall"></div>
                      <div>Cultures</div>
                    </div>
                    <div class="section-data-item">
                      <div class="section-data">80+</div>
                      <div class="padding-xsmall"></div>
                      <div>National Parks</div>
                    </div>
                  </div>
                  <div class="section is-2">
                    <div class="section-mask_container is-2">
                      <div class="section-image_container is-right">
                        <div class="image-ratio_container">
                          <video
                            class="image-ratio_asset"
                            part="video"
                            crossorigin=""
                            playsinline=""
                            autoplay=""
                            muted=""
                            loop=""
                            src="https://videos.pexels.com/video-files/7184232/7184232-uhd_1440_2560_25fps.mp4"
                          ></video>
                        </div>
                      </div>
                    </div>
                    <div class="section-caption-title">
                      <div class="padding-small"></div>
                      <div class="text-align-center text-size-medium">
                        Explore the Colorful and Diverse Festivals of India
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-wrapper">
        <a
          target="_blank"
          href="https://www.incredibleindia.gov.in/en"
          class="button"
          >Explore More</a
        >
      </div>

      <div style="height: 14vh; background-color: #111111"></div>
    </div>

    <!-- Floating YouTube Button -->
    <a
      href="https://www.youtube.com/@PixelPerfectLabs"
      class="youtube-button"
      target="_blank"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          d="M21.593 7.203a2.506 2.506 0 0 0-1.762-1.766C18.265 5.007 12 5 12 5s-6.264-.007-7.831.404a2.56 2.56 0 0 0-1.766 1.778c-.413 1.566-.417 4.814-.417 4.814s-.004 3.264.406 4.814c.23.857.905 1.534 1.763 1.765 1.582.43 7.83.437 7.83.437s6.265.007 7.831-.403a2.515 2.515 0 0 0 1.767-1.763c.414-1.565.417-4.812.417-4.812s.02-3.265-.407-4.831zM9.996 15.005l.005-6 5.207 3.005-5.212 2.995z"
        ></path>
      </svg>
    </a>
  </body>
</html>
