<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="dropdown"> 

        <li class="dropdown__list">

            <label class="dropdown__text">
                Category
                <input type="checkbox" class="dropdown__input">
            </label>

            <ul class="dropdown__sub">
                <li class="dropdown__li">
                    <a href="" class="dropdown__anchor">Elemento 1</a>
                </li>
                <li class="dropdown__li">
                    <a href="" class="dropdown__anchor">Elemento 1</a>
                </li>
                <li class="dropdown__li">
                    <a href="" class="dropdown__anchor">Elemento 1</a>
                </li>
                <li class="dropdown__li">
                    <a href="" class="dropdown__anchor">Elemento 1</a>
                </li>
                <li class="dropdown__li">
                    <a href="" class="dropdown__anchor">Elemento 1</a>
                </li>
                <li class="dropdown__li">
                    <a href="" class="dropdown__anchor">Elemento 1</a>
                </li>
                <li class="dropdown__li">
                    <a href="" class="dropdown__anchor">Elemento 1</a>
                </li>
                <li class="dropdown__li">
                    <a href="" class="dropdown__anchor">Elemento 1</a>
                </li>
                <li class="dropdown__li">
                    <a href="" class="dropdown__anchor">Elemento 1</a>
                </li>
            </ul>
        </li>
    </div>
    
</body>
</html>