.label {
  width: max-content;
  margin: 90px auto;
  display: grid;
  grid-template-areas: "input";

  & .input {
    grid-area: input;
    font: inherit;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 0.7rem 1.5rem;

    &:focus + .label_name,
    &:not(:placeholder-shown) + .label_name {
      transform: translateY(-50%) scale(0.7);
      background-color: white;
    }
  }

  & .label_name {
    grid-area: input;
    z-index: 1;
    width: max-content;
    margin-left: 1rem;
    padding: 0 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: transform 0.2s;
    transform-origin: center left;
  }
}
