<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <header>
      <h1>CSS based responsive timeline</h1>
    </header>

    <ul class="timeline">
      <!-- Item 1 -->
      <li class="container">
        <img src="" alt="" />
        <div class="text-box">
          <h2>Historia de la Empresa</h2>
          <dl>
            <dt>Feb 2015</dt>
            <dd>Fundación de la empresa.</dd>
          </dl>
          <span class="arrow"></span>
        </div>
      </li>

      <li class="container">
        <img src="" alt="" />
        <div class="text-box">
          <h2>Historia de la Empresa</h2>
          <dl>
            <dt>Feb 2015</dt>
            <dd>Fundación de la empresa.</dd>
          </dl>
          <span class="arrow"></span>
        </div>
      </li>

      <li class="container">
        <img src="" alt="" />
        <div class="text-box">
          <h2>Historia de la Empresa</h2>
          <dl>
            <dt>Feb 2015</dt>
            <dd>Fundación de la empresa.</dd>
          </dl>
          <span class="arrow"></span>
        </div>
      </li>

      <li class="container">
        <img src="" alt="" />
        <div class="text-box">
          <h2>Historia de la Empresa</h2>
          <dl>
            <dt>Feb 2015</dt>
            <dd>Fundación de la empresa.</dd>
          </dl>
          <span></span>
        </div>
      </li>
    </ul>
  </body>
</html>
