*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(red, black);
}

.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;

  & .card-list {
    & .card-item {
      list-style: none;

      & .card-link {
        padding: 18px;
        border-radius: 12px;
        text-decoration: none;
        color: white;
        /*width: 400px;*/
        user-select: none;
        display: block;
        background: #fff;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        border: 2px solid transparent;
        transition: 0.2s ease;

        &:hover {
          border-color: #09f;

          .card-button {
            color: #fff;
            background-color: #09f;
          }
        }

        & .card-image {
          width: 100%;
          aspect-ratio: 16/9;
          object-fit: cover;
          border-radius: 10px;
        }

        & .badge {
          color: #09f;
          padding: 0.5rem 1rem;
          font-size: 0.95rem;
          font-weight: 500;
          margin: 1rem 0 1.25rem;
          background-color: #dde4ff;
          width: fit-content;
          border-radius: 50px;
        }

        & .card-title {
          font-size: 1.19rem;
          color: #000;
          font-weight: 600;
        }

        & .card-button {
          height: 35px;
          width: 35px;
          color: #09f;
          border-radius: 50%;
          margin: 30px 0 5px;
          background: none;
          cursor: pointer;
          border: 2px solid #09f;
          transform: rotate(-45deg);
          transition:
            background-color 0.4s ease,
            color 0.4s ease-in-out;
        }
      }
    }
  }
}
