<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h1>Css grid - PHOTO COLLAGE</h1>

    <section class="collage">
      <div>
        <img
          src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8"
          alt="Lorem ipsum dolor sit amet"
        />
      </div>

      <div>
        <img
          src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8"
          alt="Lorem ipsum dolor sit amet"
        />
      </div>

      <div>
        <img
          src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8"
          alt="Lorem ipsum dolor sit amet"
        />
      </div>

      <div aria-hidden="true"></div>

      <div>
        <img
          src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8"
          alt="Lorem ipsum dolor sit amet"
        />
      </div>

      <div aria-hidden="true"></div>
      <div>
        <img
          src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8"
          alt="Lorem ipsum dolor sit amet"
        />
      </div>

      <div aria-hidden="true"></div>
      <div aria-hidden="true"></div>

      <div>
        <img
          src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8"
          alt="Lorem ipsum dolor sit amet"
        />
      </div>

      <div>
        <img
          src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8"
          alt="Lorem ipsum dolor sit amet"
        />
      </div>
      <div>
        <img
          src="https://images.unsplash.com/photo-1494976388531-d1058494cdd8"
          alt="Lorem ipsum dolor sit amet"
        />
      </div>

      <div aria-hidden="true"></div>
      <div aria-hidden="true"></div>
      <div aria-hidden="true"></div>
    </section>
  </body>
</html>
