* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
  block-size: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
  font-family: sans-serif;
  overflow: hidden;
}

.slider-container {
  position: relative;
  max-width: 800px;
  max-height: 400px;
  min-height: 200px;
  min-width: 400px;
  width: auto;
  aspect-ratio: 2/1;
  height: 100%;
  perspective: 1000px;

  &:hover {
    & .slider {
      animation-play-state: paused;
    }
  }

  & .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate 40s infinite linear;

    & .slide {
      position: absolute;
      width: 60%;
      height: 80%;
      left: 20%;
      top: 10%;
      border-radius: 15px;
      overflow: hidden;
      cursor: pointer;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
      transform-style: preserve-3d;
      transition: transform 1s;

      & img {
        max-block-size: 100%;
        inline-size: 100%;
        block-size: 100%;
        object-fit: cover;
      }

      &:nth-child(1) {
        transform: rotateY(0deg) translateZ(400px);
      }

      &:nth-child(2) {
        transform: rotateY(90deg) translateZ(400px);
      }

      &:nth-child(3) {
        transform: rotateY(180deg) translateZ(400px);
      }

      &:nth-child(4) {
        transform: rotateY(270deg) translateZ(400px);
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  75% {
    transform: rotateY(270deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
