* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #282828;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px;

  & .card {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: var(--clr);
    border-radius: 20px;
    border-top-left-radius: 70px;
    overflow: hidden;
    border: 10px solid var(--clr);

    &:hover {
      .box .icon {
        width: 100%;
      }
    }

    & .box {
      position: absolute;
      inset: 0;
      background-color: #282828;
      border-radius: 10px;

      & .icon {
        position: absolute;
        width: 140px;
        height: 140px;
        background-color: var(--clr);
        border-bottom-right-radius: 50%;
        transition: 0.5s;

        & .iconBox {
          position: absolute;
          inset: 10px;
          background: #282828;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 600;
          border-top-right-radius: 10px;
          border-bottom-left-radius: 10px;

          & svg {
            font-size: 4em;
            color: white;
            fill: white;
          }
        }

        &::before {
          content: "";
          position: absolute;
          bottom: -30px;
          left: 0;
          width: 30px;
          height: 30px;
          background-color: transparent;
          border-top-left-radius: 30px;
          box-shadow: -5px -5px 0 5px var(--clr);
        }

        &::after {
          content: "";
          position: absolute;
          top: -0px;
          right: -30px;
          width: 30px;
          height: 30px;
          background-color: transparent;
          border-top-left-radius: 30px;
          box-shadow: -5px -5px 0 5px var(--clr);
        }
      }

      & .content {
        position: absolute;
        top: 150px;
        padding: 20px;
        text-align: center;

        & h3 {
            color: #fff;
            font-size: 1.35em;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.12em;
        }

        & p {
            color: #fff;
            font-size: 0.95em;
            opacity: 0.75;
            margin: 0 0 10px;
        }

        & a {
            background-color: var(--clr);
            display: inline-block;
            padding: 10px 25px;
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            border-radius: 30px;
            transition: 0.5s;

            &:hover {
                background-color: transparent;
                color: var(--clr);
                border: 2px solid var(--clr);
            }
        }
      }
    }
  }
}
