<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="container swiper">
        <div class="slider-wrapper">
            <div class="card-list swiper-wrapper">
                <div class="card-item swiper-slide">
                    <img src="" alt="user image" class="user-image">
                    <h2 class="user-name">James wilson</h2>
                    <p class="user-profession">Software</p>
                    <button class="message-button">Message</button>
                </div>
                <div class="card-item swiper-slide">
                    <img src="" alt="user image" class="user-image">
                    <h2 class="user-name">James wilson</h2>
                    <p class="user-profession">Software</p>
                    <button class="message-button">Message</button>
                </div>
                <div class="card-item swiper-slide">
                    <img src="" alt="user image" class="user-image">
                    <h2 class="user-name">James wilson</h2>
                    <p class="user-profession">Software</p>
                    <button class="message-button">Message</button>
                </div>
                <div class="card-item swiper-slide">
                    <img src="" alt="user image" class="user-image">
                    <h2 class="user-name">James wilson</h2>
                    <p class="user-profession">Software</p>
                    <button class="message-button">Message</button>
                </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="slides-button swiper-button-prev"></div>
            <div class="slides-button swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <script>
        const swiper = new Swiper('.slider-wrapper', {

            loop: true,
            grapCursor: true,
            spaceBetween: 30,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
                clickeable: true,
                dynamicBullets: true 
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            breakpoints: {
                0: {
                    slidesPerView: 1
                },
                620: {
                    slidesPerView: 2
                },
                1024: {
                    slidesPerView: 3
                }, 
            }

        });
    </script>
</body>

</html>