.avatar {
  width: 80%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top center;
  margin: 30px auto;
  display: block;
  border-radius: 50%;
}

.spider {
  display: block;
  margin: 30px auto;
  width: 330px;
  filter: drop-shadow(20px 20px 20px rgba(255, 0, 0, 0.473));
}
