* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: black;
}

img {
  position: absolute;
  right: 50%;
  top: 50%;
}

.fadeOut {
  animation: fadeOut 0.5s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
    transform: scale(1);
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}
