body {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: sans-serif;
  color: white;
  font-size: 50px;
  letter-spacing: 3px;
  text-align: center;
}

.snowfall {
  position: absolute;
  z-index: -1;
  inset: 0;
  overflow: hidden;
  background: linear-gradient(#1090d0, #2612aa 85%);
}

.snowflake {
  --small: 3px;
  --medium: 7px;
  width: var(--small);
  height: var(--small);
  position: absolute;
  background-color: #fff;
  border-radius: 50%;
  animation:
    snow 6s linear infinite,
    wind 10s ease-in-out infinite;
  top: 0%;
}

.snowflake:nth-child(2n + 3) {
  /* 3, 5, 7, */
  width: var(--medium);
  height: var(--medium);
}

.snowflake:nth-child(1) {
  left: 25%;
  animation-delay: 1s;
}

@keyframes snow {
  100% {
    top: 100%;
  }
}

@keyframes wind {
  50% {
    transform: translateX(120px);
  }
}
