h2 {
    font-size: 1.25rem;
    font-weight: bold;
}

.cards {
    display: grid;
    /*grid-template-columns: repeat(5, minmax(100px, 1fr));*/
    margin-block-end: 2rem;
}

.grid-auto-fill {
    /* si el total de width is 721px minimum width of a column is 100px number of columns a row can have = 7 

    lefttover space = 21px
    
    actual width of a column = 100 + 3 = 103
    
    */

    grid-template-columns: repeat(auto-fill,
            minmax(100px,
                1fr));
}

.grid-auto-fit {
    grid-template-columns: repeat(auto-fit,
    minmax(100px,
        1fr));
}

.grid-auto-fill .card {
    background-color: #ac9afd;
}

.grid-auto-fit .card {
    background-color: #f7a0c1;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    font-size: 1.5rem;
    color: #070707;
    border: 5px solid currentColor;
    border-radius: .5rem;
    outline: 1px dotted currentColor;
    outline-offset: -15px;
}