body {
  background: #1a1a1a;
}

.container {
  background-image: linear-gradient(#051327, #000);
  position: fixed;
  inset: 0;
}

.space {
  height: var(--size);
  width: var(--size);
  background: #fff;
  box-shadow: var(--space-layer);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 75%;
  animation: moveStarts var(--duration) linear infinite;
}

.hero {
  position: relative;
}

h1 {
  color: #fff;
}

@keyframes moveStarts {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100vh);
  }
}
