* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  overflow-x: hidden;
  color: #ffff;
  background: linear-gradient(90deg, #333, #333 50%, #555 50%, #555);
}

.hero {
  block-size: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 20px;

  & > h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    font-weight: 800;
    opacity: 0.8;
  }

  & > p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    opacity: 0.8;
    letter-spacing: 1px;
  }
}

.about {
  color: #ddd;
  padding: 120px 20px;
  text-align: center;

  & > .container {
    max-block-size: 800px;
    text-align: center;
  }

  & > h2 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    margin-bottom: 20px;
  }

  & > p {
    opacity: 0.7;
    line-height: 1.7;
  }
}

.footer {
  background: #333;
  padding: 30px;
  text-align: center;
  font-size: 16px;
  color: #ddd;
}

@media (prefers-reduced-motion: reduce) {
  /* user prefers reduced motion */
}

@media (prefers-reduced-motion: no-preference) {
  /* user does not prefer reduced motion */
}
