.stack {
  perspective: 1200px;
  view-timeline-name: --cards;
  view-timeline-axis: block;
}

.card {
  corner-shape: square;

  position: sticky;
  top: 40px;
  top: calc(var(--i) * 40px);

  inline-size: min(950px, 80%);
  block-size: 580px;

  margin: 0 auto;

  border-radius: 30px;

  overflow: hidden;

  transform-style: preserve-3d;

  animation: stack 1s linear both;
  animation-timeline: --cards;

  animation-range: entry 0% exit 50%;

  > img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    padding: 30px;

    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(10px);
  }
}

@keyframes stack {
  0% {
    transform: translateY(0) translateZ(0) rotateX(0) scale(1);
  }

  35% {
    transform: translateY(100px) translateZ(-200px) rotateX(8deg) scale(0.92);
  }

  70% {
    transform: translateY(20px) translateZ(-120px) rotateX(2deg) scale(0.95);
  }

  100% {
    transform: translateY(0) translateZ(0) rotateX(0) scale(1);
  }
}

#card1 {
  --i: 1;
}

#card2 {
  --i: 2;
}

#card3 {
  --i: 3;
}

#card4 {
  --i: 4;
}

#card5 {
  --i: 5;
}

#card6 {
  --i: 6;
}

#card7 {
  --i: 7;
}

.info {
  position: absolute;
  inset: auto 0 0 0;
  inline-size: 100%;
  padding: 30px;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
  backdrop-filter: blur(10px);

  > h2 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: #fff;
  }

  > p {
    margin-top: 10px;
    color: #ddd;
    opacity: 0.8;
  }
}
