<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="page-width">
      <h1>:focus / :focus-within / :focus-visible</h1>
      <p>
        Focus indicators play a crucial role in providing visual feedback to
        users when interacting with different elements on a webpage.
      </p>
      <form>
        <div>
          <label for="contactName" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="contactName"
            placeholder="Your name"
          />
        </div>
        <div>
          <label for="contactEmail" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="contactEmail"
            placeholder="Your email address"
          />
        </div>
        <div>
          <label for="contactMessage" class="form-label">Message</label>
          <textarea
            class="form-control"
            id="contactMessage"
            placeholder="Your message"
          ></textarea>
        </div>
        <div>
          <button type="submit" class="form-submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
