button {
  background-color: #09f;
  border: 0;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px;
  transition: background 0.3s ease;

  &[disabled] {
    background: #ccc;
    opacity: 0.6;
    pointer-events: none;
  }

  &:hover {
    background: rgb(0, 104, 173);
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui;
  background-color: #f0f0f0;
  display: grid;
  place-content: center;
  height: 100dvh;
}

main {
  width: 400px;
  max-width: 100%;

  height: 70vh;
  background-color: #fff;
  border: 1px solid #ccc;

  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 8px;
  margin-bottom: 16px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin: 4px 0;
  padding: 4px 8px;

  > span {
    width: 36px;
    height: 36px;
    background-color: #eee;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99%;
  }

  > p {
    border-radius: 4px;
    padding: 4px;
  }

  &.user {
    align-self: flex-end;
    align-items: flex-end;

    & span,
    p {
      background: rgb(219, 236, 255);
    }
  }

  &.bot {
    align-self: flex-start;
    & span,
    p {
      background-color: rgb(198, 255, 220);
    }
  }
}

.dialog {
  height: max-content;
  width: 50%;
  margin: auto;
  opacity: 0;
  transition:
    display 0.6s,
    overlay 0.6s,
    opacity 0.6s;
  transition-behavior: allow-discrete;

  &[open] {
    opacity: 1;

    &::backdrop {
      transform: translate(0);
    }

    @starting-style {
      opacity: 0;

      &::backdrop {
        transform: translate(100%);
      }
    }
  }

  &::backdrop {
    background-color: #00000070;
    transform: translate(100%);
    transition: transform 0.6s;
  }
}

form {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
