*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
}

body {
  min-block-size: 100dvh;
  display: flex;
  justify-content: center;
}

.menu-container {
  color: white;
  width: 80%;
  margin-top: 50px;
  & div {
    & ul {
      display: flex;
      outline: 1px solid white;
      & li {
        position: relative;
        list-style: none;
        width: 100%;

        & ul {
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #444;
          list-style: none;
          z-index: 10;
          min-width: 180px;
          border-radius: 5px;
          display: none;
        }

        & a {
          display: block;
          padding: 15px 20px;
          color: inherit;
          text-decoration: none;
          transition:
            color 0.3s ease,
            background-color 0.3s ease-in-out;

          &:hover {
            background-color: yellow;
            color: black;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #menu li:hover > ul {
    display: block;
  }
}

#menu li ul li {
  position: relative;

  & ul {
    top: 0;
    left: 100%;
    display: none;
  }
}

.menu-toggle {
  display: none;
  background-color: red;
  color: inherit;
  padding: 15px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  #menu {
    flex-direction: column;
    display: none;
  }

  #menu.active {
    display: flex;
  }

  #menu li.active > ul {
    display: block;
  }

  #menu li ul li.active > ul {
    display: block;
  }

  #menu li ul {
    position: static;
  }

  #menu ul {
    flex-direction: column;
  }

  #menu li a {
    padding: 15px;
    border-bottom: 1px solid white;
  }
}
