<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        font-family: sans-serif;
      }

      table {
        margin: 100px auto 0;
        border-collapse: collapse;

        tr {
          border: 1px solid transparent;

          &:not(:last-child) {
            border-bottom: 1px solid #e4ded8;
          }

          td {
            padding: 11px 32px;
          }
        }

        .type {
          color: #5f574e;
        }

        .value {
          color: #854632;
          font-weight: bold;
        }
      }
    </style>
  </head>
  <body>
    <table border="1">
      <tr>
        <td class="type">Calories</td>
        <td class="value">277 kcals</td>
      </tr>
      <tr>
        <td class="type">Calories</td>
        <td class="value">277 kcals</td>
      </tr>
      <tr>
        <td class="type">Calories</td>
        <td class="value">277 kcals</td>
      </tr>
      <tr>
        <td class="type">Calories</td>
        <td class="value">277 kcals</td>
      </tr>
    </table>
  </body>
</html>
