<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <section class="announcement-bar">
      Build beautiful websites that stand up
    </section>

    <header class="site-header">
      <div class="site-header-logo">logo</div>
      <nav class="site-header-nav">
        <a href="#">About</a>
        <a href="#">Explorer</a>
        <a href="#">Experience</a>
        <a href="#">Integrate</a>
      </nav>
    </header>

    <section class="hero">
      <img
        src="https://images.unsplash.com/photo-1486927181919-3ac1fc3a8082"
        alt=""
      />
    </section>

    <main class="content">
      <h1>CSS GRID named lines</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aliquid,
        minus harum nulla distinctio iusto adipisci tenetur deleniti officia
        dolorem. Ad, autem quia? Unde nobis doloremque illo, amet voluptatibus
        quae.
      </p>

      <div class="banner">
        <span class="icon">*</span>
        Awesome banner
      </div>

      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore esse
        ad rem sint aliquid porro reiciendis at officia nesciunt. Officia ipsum
        tempore quae architecto unde assumenda beatae voluptate doloremque
        consequuntur.
      </p>

      <h2>Hola</h2>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet eaque
        itaque veritatis modi eligendi? Alias ea perspiciatis officiis
        temporibus corporis, hic iste est quisquam ad minima beatae expedita
        natus odio?
      </p>
    </main>

    <footer class="site-footer"></footer>
  </body>
</html>
