*,
*::before,
*::after {
    box-sizing: border-box;
    outline: 2px solid lime;
}

/* funciona super bien cuando tienes un desbordamiento y no sabes donde */



.wrapper {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

    margin-inline: auto;
    padding-inline: 2rem;
}