<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="container">
      <input type="checkbox" id="toggle" checked />
      <label class="button" for="toggle">
        <nav class="nav">
          <ul>
            <li>
              <a href="#"><i class="ri-mic-line">hola</i></a>
            </li>
            <li>
              <a href="#"><i class="ri-message-2-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-file-line"></i></a>
            </li>
            <li>
              <a href="#"><i class="ri-send-plane-2-line"></i></a>
            </li>
          </ul>
        </nav>
      </label>
    </div>
  </body>
</html>
