<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./main.css" />
  </head>
  <body>
    <header>
      <img class="logo" src="./img/ghost.png" alt="" />
      <button id="open" class="open-menu">Menu</button>
      <nav class="nav" id="nav">
        <button id="close" class="close-menu">X</button>
        <ul class="nav-list">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Quienes somos</a></li>
          <li><a href="#">contacto</a></li>
          <li><a href="#">servicio</a></li>
        </ul>
      </nav>
    </header>
    <script type="module" src="./index.js"></script>
  </body>
</html>
