* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-inline-size: 100%;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: #2a2a2a;
  padding: 2rem;

  background:
    fixed linear-gradient(transparent, #fff 90%),
    fixed
      repeating-linear-gradient(
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      ),
    fixed
      repeating-linear-gradient(
        to right,
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      )
      white;
}

section {
  margin-block-end: 2rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin-block-end: 1em;
}

p {
  margin-block-end: 1.5rem;
}

/* First Example */
.card-outer {
  inline-size: max(20rem, 40vw);
  aspect-ratio: 1;
  margin-inline: auto;
  /* border: 1px solid currentColor; */
  /* padding: 5px; */
}

.card {
  position: relative;
  inline-size: 100%;
  block-size: 100%;
  background: linear-gradient(to right, #90c3fd, #ba71ff, #ff71b8);

  /*
    mask-image: url(flower.png);
  
    mask-position: 20px 30px;
    mask-position: bottom right;
    mask-position: bottom;
    mask-position: center;
  
    mask-size: 50%;
    mask-size: 50% 25%;
    mask-size: 50% auto;
    mask-size: contain;
    mask-size: cover;
  
    mask-repeat: repeat-x;
    mask-repeat: repeat-y;
    mask-repeat: no-repeat;
  
    mask: url(flower.png) center / cover no-repeat;
    */

  /* Masking with gradients */
  mask: linear-gradient(#0000, #000);
  mask: linear-gradient(transparent, #000);
  mask: linear-gradient(rgb(0 0 0 / 10%), #000);

  mask: linear-gradient(to top, #0000, #000);
  mask: linear-gradient(90deg, #0000, #000);

  mask: linear-gradient(#000 25%, #0000 25% 50%, #000 50% 75%, #0000 75% 100%) 0
    0 / 100% 12px;
  /* mask-size: 100% 12px; */

  mask: linear-gradient(
    45deg,
    #000 25%,
    #0000 25% 50%,
    #000 50% 75%,
    #0000 75% 100%
  );
  mask-size: 10%;

  mask: radial-gradient(#0000, #000);
  mask: radial-gradient(#0000 100px, #000 100px);
  mask: radial-gradient(circle at bottom, #0000 50px, #000 50px);
  mask-size: 25% 100%;

  mask: radial-gradient(30px at 50% 30px, #0000 99%, #000) 50% -30px / 50px 100%;
}

.card img {
  display: block;
  inline-size: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.card::after {
  position: absolute;
  content: "";
  inset: 0;
  mix-blend-mode: color;
  background: linear-gradient(to right, #90c3fd, #ba71ff, #ff71b8);
}

/* Second Example */
.hero {
  inline-size: 100%;
}

.hero img {
  width: 100%;
  aspect-ratio: 16 / 6;
  object-fit: cover;
  mask: linear-gradient(to bottom, #000 60%, transparent);
}

.hero h1 {
  margin-block: -3.5rem 1rem;
  font-size: clamp(1.5rem, 5vw + 1rem, 4rem);
}

.hero-content {
  max-inline-size: min(80ch, 95%);
  padding-inline: 3rem;
  margin-inline: auto;
}
