<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div class="article-container">
      <article class="article">
        <img
          class="article_img"
          src="https://res.cloudinary.com/demo/image/upload/v1689803100/ai/hiker.jpg"
          alt=""
        />
        <div class="article_text">
          <h2 class="article_title">Aprende hola</h2>
          <p class="article_paragraph">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
            repellendus alias voluptates exercitationem quidem, possimus
            aliquid, tempora necessitatibus recusandae iure id? Blanditiis
            quisquam dicta eligendi perferendis omnis dolorem ab autem.
          </p>
        </div>
      </article>
    </div>
  </body>
</html>
