body {
  background-color: #131316;
  color: #fff;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 0;
  margin: 0;
}

#progress {
  position: fixed;
  top: 0;
  width: 100%;
  background: red;
  height: 1em;
  border-radius: 10px;
  animation: progress-grow auto linear;
  animation-timeline: scroll(root block);
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

@keyframes progress-grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
