<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Css Images</h1>
    <section>
        <img src="https://res.cloudinary.com/demo/image/upload/v1689803100/ai/hiker.jpg" alt="">
        <img src="https://res.cloudinary.com/demo/image/upload/v1689803100/ai/hiker.jpg" alt="">
        <img src="https://res.cloudinary.com/demo/image/upload/v1689803100/ai/hiker.jpg" alt="">
        <img src="https://res.cloudinary.com/demo/image/upload/v1689803100/ai/hiker.jpg" alt="">
        <img src="https://res.cloudinary.com/demo/image/upload/v1689803100/ai/hiker.jpg" alt="">
        <img src="https://res.cloudinary.com/demo/image/upload/v1689803100/ai/hiker.jpg" alt="">
        <img src="https://res.cloudinary.com/demo/image/upload/v1689803100/ai/hiker.jpg" alt="">
        <img src="https://res.cloudinary.com/demo/image/upload/v1689803100/ai/hiker.jpg" alt="">
    </section>
</body>
</html>