* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1.4rem;
  font-family: sans-serif;
}

.header,
.footer,
.content1,
.content2 > div > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #333;
}

.main-container {
  flex: 6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.content2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;

  & > div {
    flex: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .main-container > div {
    min-height: 400px;
  }

  .content1 {
    flex: 100%;
  }

  .header {
    min-height: 90px;
    background-color: blue;
  }

  .footer {
    min-height: 110px;
  }
}

@media screen and (max-width: 520px) {
  .content2 > div {
    flex-direction: column;
  }

  .content2 > div {
    min-height: 200px;
  }
}
