body {
  background-color: rgb(0, 0, 0);
}

.container_image {
  columns: 300px;
}

img {
  width: 100%;
  margin-bottom: 0.25rem;
  object-fit: cover;
  transition:
    transform 0.3s ease,
    filter 0.3s ease;

  &:hover {
    filter: grayscale(60%);
    transform: scale(1.01);
  }
}
