<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="section-wrapper">
        <div class="section light-section">
            <div class="section-container">
                <div class="section-inner">
                    <h2 class="section-heading">hello world.</h2>
                    <div class="section-image">
                        <img src="" alt="">
                    </div>
                    <a href="#" class="section-btn" target="_blank" rel="noopener noreferrer">hola</a>
                </div>
            </div>
        </div>

        <div class="section dark-section">
            <div class="section-container">
                <div class="section-inner">
                    <h2 class="section-heading">chao feo</h2>
                    <div class="section-image">
                        <img src="" alt="">
                    </div>
                    <a href="#" class="section-btn" target="_blank" rel="noopener noreferrer">hola</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>