* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  --bg-color: #22223b;
  --border-color: #4a4e69;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  gap: 0.625rem;
  padding: 1.25rem;
}

.card {
  position: relative;
  cursor: pointer;
}

.cardimg {
  width: 25rem;
  height: 25rem;
  border-radius: 1.25rem;
  border: 0.5rem solid var(--border-color);
  overflow: hidden;
  position: relative;
}

.cardimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tag {
  width: 12.5rem;
  height: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  border-top: 0.5rem solid var(--border-color);
  border-left: 0.5rem solid var(--border-color);
  border-radius: 1rem 0 0 0;
  padding: 0.3rem;
}
/* 
.tag::after, .tag::before {
    content: "";
    position: absolute;
    width: 1.125rem;
    height: 1.25rem;
} */
/* 
.tag::after {
    background: transparent;
    top: -1.125rem;
    right: 0;
    border-bottom-right-radius:0.8rem;
    box-shadow: 0.375rem 0.375rem var(--bg-color);
}

.tag::before {
    background: transparent;
    right: 0.5rem;
    top: -1.75rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.375rem 0.375rem var(--border-color);
} */

/* .curve_one, .curve_two {
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    content: "";
} */
/* 
.curve_one {
    background: transparent;
    left: 45%;
    bottom: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.375rem 0.375rem var(--border-color);
}
.curve_two {
    background: transparent;
    left: 47%;
    bottom: 0;
    border-bottom-right-radius: 0.8rem;
    box-shadow: 0.375rem 0.375rem var(--border-color);
}  */

.tag > p {
  background: var(--border-color);
  color: #fff;
  font-size: 0.875rem;
  padding: 0.3rem 0.625rem;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  border-radius: 0.3125rem;
}

.tag > p > span {
  font-weight: 600;
  font-size: 1.2rem;
}

/**/

/* .tag .title {
    width: 12.5rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: var(--bg-color);
    padding: 0.3rem;
}

.tag {
    right: 0;
    bottom: 0;
    border-top: 0.5rem solid var(--border-color);
    border-left: 0.5rem solid var(--border-color);
    border-radius: 1rem 0 0 0;
}

.tag::after, .tag::before, .title::after, .title::before {
    content: "";
    position: absolute;
    width: 1.125rem;
       height: 1.25rem;
}


.tag::after {
    background: transparent;
    top: -1.125rem;
    right: 0rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.375rem 0.375rem var(--bg-color);
}

.tag::before {
    background: transparent;
    top: -1.75rem;
    right: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0.375rem 0.375rem var(--bg-color);
}

.tag>p>span, .title>p>span {
    font-weight: 600;
    font-size: 1.2rem;
}

.title {
    top: 0;
    left: 0;
    border-bottom: 05rem solid var(--border-color);
    border-right: 0.5rem solid var(--border-color);
    border-radius: 0 0 1rem 0;
} */
