<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="list">
      <div class="item">
        <img
          src="https://placehold.co/600x400/orange/white"
          alt="placeholder"
        />
      </div>
      <div class="item">
        <img
          src="https://placehold.co/600x400/orange/white"
          alt="placeholder"
        />
      </div>
      <div class="item">
        <img
          src="https://placehold.co/600x400/orange/white"
          alt="placeholder"
        />
      </div>
      <div class="item">
        <img
          src="https://placehold.co/600x400/orange/white"
          alt="placeholder"
        />
      </div>
      <div class="item">
        <img
          src="https://placehold.co/600x400/orange/white"
          alt="placeholder"
        />
      </div>
      <div class="item">
        <img
          src="https://placehold.co/600x400/orange/white"
          alt="placeholder"
        />
      </div>
      <div class="item">
        <img
          src="https://placehold.co/600x400/orange/white"
          alt="placeholder"
        />
      </div>
      <div class="item">
        <img
          src="https://placehold.co/600x400/orange/white"
          alt="placeholder"
        />
      </div>
      <div class="item">
        <img
          src="https://placehold.co/600x400/orange/white"
          alt="placeholder"
        />
      </div>
      <div class="item">
        <img
          src="https://placehold.co/600x400/orange/white"
          alt="placeholder"
        />
      </div>
    </div>
  </body>
</html>
