body {
  display: grid;
  place-content: center;
  height: 100vh;
  padding: 2rem;
}

.list {
  padding: 8rem;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.list .item {
  height: 200px;
  transition: 0.5s;
  filter: brightness(0);
}

.list .item:hover {
  filter: brightness(1);
  transform: translateZ(200px);
}

.list .item:hover + * {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(40deg);
}

.list .item:hover + * + * {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(20deg);
}

.list .item:hover + * + * + * {
  filter: brightness(0.2);
  transform: translateZ(30px) rotateY(10deg);
}

.list .item:has(+ *:hover) {
  filter: brightness(0.6);
  transform: translateZ(150px) rotateY(-40deg);
}

.list .item:has(+ * + *:hover) {
  filter: brightness(0.4);
  transform: translateZ(70px) rotateY(-20deg);
}

.list .item:has(+ * + * + *:hover) {
  filter: brightness(0.2);
  transform: translateZ(30px) rotateY(-10deg);
}

.list .item img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor .item */
  height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor .item */
  object-fit: cover; /* Para asegurar que la imagen se escale correctamente dentro del contenedor */
}
