img {
  max-inline-size: 100%;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
  user-select: none;
}

@media (max-width: 900px) {
  body {
    overflow: hidden;
    touch-action: none;
  }

  .container {
    touch-action: none;
  }

  .site-info {
    top: 1.5em;
    left: 50%;
    transform: translate(-50%);
  }

  .minimap {
    top: auto;
    right: auto;
    bottom: 5em;
    left: 50%;
    width: auto;
    height: 80px;
    touch-action: none;
  }

  .indicator {
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
  }

  .items {
    flex-direction: row;
    width: max-content;
    height: 100%;
    touch-action: none;
  }

  .img-preview {
    top: 45%;
    width: 75%;
    height: 50%;
  }
}
