<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>

  <body>
    <div class="grid">
      <div class="earth-container">
        <div class="earth">
          <div class="clouds"></div>
        </div>
      </div>
      <div class="grid-panels">
        <div class="panel brand">
          <div>
            <img src="./assets/logo.png" alt="" class="logo" />
            <h1>plan my adventure</h1>
          </div>
          <div>
            <p class="text-primary">15 day trial</p>
            <p>Then 4.99</p>
          </div>
        </div>
        <div class="panel title">
          <h1>Discover the world from a new perspective</h1>
          <i class="fas fa-arrow-down"></i>
        </div>
        <div class="panel">
          <div>
            <h1>4000+</h1>
            <p class="text-secondary">travel destinations to explore</p>
          </div>
        </div>
        <div class="panel">
          <div>
            <h1>94%</h1>
            <p class="text-secondary">user score</p>
          </div>
        </div>
        <div class="panel social">
          <a href="#">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <div class="panel">
          <a href="#" class="btn">Explorer</a>
        </div>
        <div class="panel">
          <div>
            <h2>Why us</h2>
            <p class="text-secondary">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam
              recusandae sint quidem ut excepturi id perferendis asperiores,
              deserunt ad sequi similique quos, ab, sunt iste voluptate non.
              Facere, laborum accusamus?
            </p>
          </div>
        </div>
        <div class="panel travel">
          <i class="fas fa-route"></i>
          <div>
            <h2>Virual travel</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam
              dicta ut quis sunt, inventore aspernatur nisi necessitatibus quia
            </p>
          </div>
        </div>
        <div class="panel bg"></div>
      </div>
    </div>
  </body>
</html>
