<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <form action="">
      <input type="radio" id="a" value="a" checked name="hopping" />
      <span>A</span>
      <input type="radio" id="b" value="b" name="hopping" />
      <span>B</span>
      <input type="radio" id="c" value="c" name="hopping" />
      <span>C</span>
    </form>
  </body>
</html>
