:root {
  font-size: 1rem;
}

body {
  background-color: #fff;
  overflow: hidden;
  color: black;

  display: flex;
  font: 1em;
  height: 100vh;
  line-height: 1.5;
}

form {
  display: block;
  margin: auto;
  max-width: 10em;
  position: relative;
  bottom: 40px;
}

input {
  position: fixed;
  top: -1.5em;
  left: -1, 5em;
}

label {
  cursor: pointer;
  display: block;
  font-weight: bold;
  text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
  transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

label:not(:last-of-type) {
  margin-bottom: 1.5em;
}

label span {
  box-shadow:
    0 0 0 0.2em currentColor inset,
    0 0.2em 0.2em rgba(0, 0, 0, 0.2),
    0 0.3em 0.2em rgba(0, 0, 0, 0.2);

  display: inline-block;
  margin-right: 0.5em;
  vertical-align: bottom;
  width: 1.5em;
  height: 1.5em;
  transition:
    transform 0.2s cubic-bezier(0.5, 0, 0.5, 2),
    box-shadow 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95),
    color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
