* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: #fff;
  padding: 3rem;

  display: grid;
  place-content: center;
  background-color: black;
  min-block-size: 100vh;
  position: relative;
}

@property --y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: -1%;
}

h1 {
  font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
  line-height: 1.3;
  text-transform: uppercase;
}

.snowfall,
.snowfall::before,
.snowfall::after {
  position: absolute;
  inset: 0;
  content: "";
  overflow: hidden;
  pointer-events: none;

  background-image:
    radial-gradient(circle at 5% calc(var(--y) * 1), #fff 3px, transparent 6px),
    radial-gradient(
      circle at 65% calc(var(--y) * 1.3),
      #fff 2px,
      transparent 4px
    );
}

.snowfall {
  animation:
    snowfall 20s linear infinite,
    wind 47s ease-in-out infinite;
  background-size: 65% 100%;
}

.snowfall::before {
  animation:
    snowfall 20s linear infinite,
    wind 47s ease-in-out infinite;
  inset: -4rem 0 0;
  opacity: 0.8;
  background-size: 45% 100%;
}

.snowfall::after {
  animation:
    snowfall 20s linear infinite,
    wind 47s ease-in-out infinite;
  inset: -8rem 0 0;
  opacity: 0.6;
  background-size: 32% 100%;
}

@keyframes snowfall {
  0% {
    --y: -1%;
  }

  100% {
    --y: 100%;
  }
}

@keyframes wind {
  50% {
    translate: 200px;
  }
}
