<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <h2 class="title">What customer say</h2>

    <div class="testimonials-container">
      <div class="column">
        <div class="testimonials" id="column1">
          <div class="card">
            <div class="profile">
              <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="" />

              <div>
                <div class="name">Michael Chen</div>
                <div class="role">Software Engineer</div>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Asperiores totam aliquam accusantium commodi nisi veritatis,
              placeat, libero nobis dicta cum labore aliquid fugiat, aperiam vel
              animi culpa similique? Ea, soluta?
            </div>
          </div>

          <div class="card">
            <div class="profile">
              <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="" />

              <div>
                <div class="name">Michael Chen</div>
                <div class="role">Software Engineer</div>
              </div>
            </div>

            <div class="content">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Asperiores totam aliquam accusantium commodi nisi veritatis,
              placeat, libero nobis dicta cum labore aliquid fugiat, aperiam vel
              animi culpa similique? Ea, soluta?
            </div>
          </div>

          <div class="card">
            <div class="profile">
              <img src="https://randomuser.me/api/portraits/men/1.jpg" alt="" />

              <div>
                <div class="name">Michael Chen</div>
                <div class="role">Software Engineer</div>
              </div>

              <div class="content">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Asperiores totam aliquam accusantium commodi nisi veritatis,
                placeat, libero nobis dicta cum labore aliquid fugiat, aperiam
                vel animi culpa similique? Ea, soluta?
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
