<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 

    static
    relative
    absolute

    fixed
    sticky


    normal flow
    
    position: determine how an elements positioned on the page 

    static positioning default value: the element follows the normal document flow  

    relativa positioning: the element follows the normal document flow but can be offset relative to itself

    offset properties: top, right, bottom, left => offset properties are used to shift the element from its reference point


    abosulte positioning: the element is removed from the normal document flow and positioned relative to the nearest positioned ancestor


    fixed & sticky positioning: =>  fixed positioning: absolute positioning but element remains fixed relative to the viewport and is unaeffected by scrolling
    
    sticky positioning: the elements is in normal flow until a certain scroll point when  it then become fixed 
    
    -->
  </body>
</html>
