* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-inline-size: 100%;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  color: #101010;
  border-block-start: 6px solid #f1d23a;
  background:
    fixed linear-gradient(transparent, #fff 40%),
    fixed
      repeating-linear-gradient(
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      ),
    fixed
      repeating-linear-gradient(
        to right,
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      )
      #fff;
  padding: 3rem 3rem;
}

.page-header {
  max-inline-size: 1100px;
  margin: 0 auto 3rem;
}

.page-content {
  max-inline-size: 1100px;
  margin: 0 auto 1rem;
  container-type: inline-size;
}

h1 {
  font-size: 1.75rem;
  line-height: 1.25;
  margin-block-end: 0.15em;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-block-end: 1em;
}

.podcasts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  container-type: inline-size;
}

.podcast {
  display: flex;
  flex-flow: column;
}

.thumbnail {
  overflow: hidden;
}

.thumbnail img {
  inline-size: 100%;
  aspect-ratio: 1;
  display: block;
  object-fit: cover;
  transition: scale 0.5s ease-in-out;
}

.podcast:hover .thumbnail img,
.podcast:focus-within .thumbnail img {
  scale: 1.15;
}

.content {
  flex: 1;
  padding: 1rem;
  border: 1px solid #efefef;
  border-block-start: none;
  background-color: #fff;
}

.title {
  font-size: 1rem;
  font-size: clamp(1rem, 1rem + 0.5cqi, 1.25rem);
  line-height: 1.4;
  font-weight: 700;
  color: #282c3f;
  margin-block-end: 0.15rem;
}

.author {
  font-size: 0.875rem;
  font-weight: 400;
  color: #737686;
  margin-block-end: 0.5rem;
}

.desc {
  display: none;
}

.btn-play {
  border: none;
  border-radius: 0.25rem;
  color: #fa3361;
  background-color: #f5f5f5;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
  outline: 1px solid transparent;
  outline-offset: 2px;
  transition: outline 0.5s ease-in-out;
}

.btn-play:hover,
.btn-play:focus-visible {
  outline-color: currentColor;
}

@container (inline-size > 300px) {
  .podcasts {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }

  .podcast {
    flex-flow: row;
    padding-block-end: 1rem;
    border-block-end: 1px solid #efefef;
  }

  .thumbnail {
    inline-size: 120px;
    inline-size: max(100px, 15cqi);
  }

  .content {
    border: none;
    padding-block: 0;
    background-color: transparent;
  }
}

@container (inline-size > 600px) {
  .podcasts {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .podcast {
    padding-block-end: 0;
    border: 1px solid #efefef;
  }

  .thumbnail {
    inline-size: max(200px, 20cqi);
    block-size: 100%;
  }

  .thumbnail img {
    height: 100%;
  }

  .content {
    padding: 1rem 1.5rem;
  }

  .desc {
    display: block;
  }

  .btn-play {
    margin-block-start: 1rem;
  }
}

@container (inline-size > 900px) {
  .podcasts {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .podcast {
    flex-flow: column;
  }

  .thumbnail {
    inline-size: 100%;
    block-size: auto;
  }

  .thumbnail img {
    aspect-ratio: 4 / 3;
  }
}
